<section data-ng-controller="EntriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Week Entry</h1>
	</div>
    <div class="col-md-12">
        <form name="entryForm" class="form-horizontal" data-ng-submit="update(entryForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">

                    <div class="col-md-4">
                        <label class="control-label" for="project">Project</label>
                        <div class="controls">
                            <select class="form-control" name="project" ng-options="opt.value as opt.label for opt in projects" data-ng-model="entry.project" id="project" required="">
                            </select>
                        </div>


                    </div>

                    <div class="col-md-4">
                        <label class="control-label" for="weekNumber">Week</label>
                        <div class="controls">
                            <select class="form-control" name="weekNumber" ng-options="opt.value as opt.label for opt in dates" data-ng-model="entry.week" id="weekNumber" required="">
                            </select>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        <label class="control-label" for="monday">Monday</label>
                        <div class="controls">
                            <input name="monday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.monday" id="monday" class="form-control"  required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="tuesday">Tuesday</label>
                        <div class="controls">
                            <input name="tuesday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.tuesday" id="tuesday" class="form-control" required>
                        </div>

                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="wednesday">Wednesday</label>
                        <div class="controls">
                            <input name="wednesday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.wednesday" id="wednesday" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="thursday">Thursday</label>
                        <div class="controls">
                            <input name="thursday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.thursday" id="thursday" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="friday">Friday</label>
                        <div class="controls">
                            <input name="friday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.friday" id="friday" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="saturday">Saturday</label>
                        <div class="controls">
                            <input name="saturday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.saturday" id="saturday" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="sunday">Sunday</label>
                        <div class="controls">
                            <input name="sunday" min="0" max="8" step="0.5" type="number" data-ng-model="entry.sunday" id="sunday" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
