<section data-ng-controller="EntriesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Entries</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="entry in entries" data-ng-href="#!/entries/{{entry._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Proje
				<span data-ng-bind="entry.project"></span>
                Week
                <span data-ng-bind="moment(entry.startDate).format('YYYY/MM/DD')"></span>
                <span data-ng-bind="moment(entry.endDate).format('YYYY/MM/DD')"></span>
				by
				<span data-ng-bind="entry.user.displayName"></span>
			</small>

		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="entries.$resolved && !entries.length">
		No articles yet, why don't you <a href="/#!/entries/create">create one</a>?
	</div>
</section>
